* {
  box-sizing: border-box;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  > .typography-link {
    background-color: #8080804d;
    color: #c8aa6e;
  }
  > .link-item-underline {
    transform: scale(1);
  }
}

.link-item-underline {
  width: 100%;
  height: 4px;
  background-color: #00a0ba;
  position: absolute;
  bottom: 7px;
  left: 0px;
  transform : scale(0);
}

.typography-link {
  width: 100%;
  padding: 7.5px 16px;
  border-radius: 8px;
}

.link-with-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 20px;
}
